@import "config";
@import "mixins";

html, body {
    @media #{$mobile} {
        & {
            font-size: 16px !important;
        }
    }

    font-size: 18px;
    margin: 0;
}

body {
    font-family: 'Assistant', sans-serif;
    background-color: $bg;
    font-size: 1rem;
    color: $fg;
}

a {
    text-decoration: none;
    color: $cyan;
}

.container {
    max-width: 960px;
    padding: $unit;
    margin: 0 auto;
    @include clear-fix;
}

.container-paddingless {
    max-width: 960px;
    margin: 0 auto;
    @include clear-fix;
}
